{:paths ["src"]
 :deps {

        ;; Crux dependencies
        juxt/crux-rocksdb {:mvn/version "20.06-1.9.1-beta-SNAPSHOT"}
        juxt/crux-sql {:mvn/version "20.06-1.9.1-alpha-SNAPSHOT"}

        ;; Other
        integrant {:mvn/version "0.8.0"}
        org.clojure/tools.namespace {:mvn/version "1.0.0"}
        integrant/repl {:mvn/version "0.3.1"}}}
